<div class="traductor-container">
  <div class="traductor-content">
    <h1 class="title">Traductor</h1>
    <p>Por favor de ingresar el texto a traducir</p>
    <mat-form-field class="example-full-width">
      <mat-label>Ingrese el texto a traducir</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-flat-button color="primary" class="translate-button">Traducir</button>
  </div>
  <div class="resultado-container">
    <div class="resultado-content">
      <h1 class="title">Resultado de la Traducción</h1>
      <div class="result-container">
        <p>El texto traducido es:</p>
        <mat-card class="result-card">
          <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgzM_UUQfrtsyh-VGA_p6WnLxHbt0lwC2QcvgN75Faek0atpiYR7c1FAsphp45rAMJk7s&usqp=CAU" alt="Texto traducido">
        </mat-card>
        <button mat-flat-button color="primary" >Historial</button>
      </div>
    </div>
  </div>
</div>
