<body>
    <div class="content">
        <h1>Bienvenido a HandTranslate</h1>
        <p>
            HandTranslate es una plataforma web diseñada para funcionar como un traductor de texto (ESPAÑOL) a lenguaje de señas, utilizando inteligencia artificial para facilitar la comunicación entre personas con discapacidad auditiva y personas de interés.
        </p>
        <h2>Motivación</h2>
        <p>
            HandTranslate surge de la necesidad imperante de reducir la brecha de comunicación entre personas con discapacidad auditiva y aquellos que no comparten su misma condición. En un mundo cada vez más digitalizado, donde la comunicación verbal es predominante, esta población enfrenta obstáculos significativos para expresarse y comprender a los demás.
        </p>
        <img src="https://img.remediosdigitales.com/96236c/mama-hija/1366_2000.jpg" alt="Imagen de motivación" style="width:100%; border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); margin-top:20px;">
    </div>  

    <footer>
        <p>© 2024 HandTranslate. Todos los derechos reservados.</p>
    </footer>
</body>